Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

# http -> https
#RewriteCond %{SERVER_PORT} !^443$
#RewriteRule ^/?(.*) https://%{HTTP_HOST}/$1 [NC,R=301,L]

RewriteCond %{REQUEST_URI} !^/(web)
RewriteRule ^assets/(.*)$ /web/assets/$1 [L]
RewriteRule ^fonts/(.*)$ /web/fonts/$1 [L]
RewriteRule ^css/(.*)$ /web/css/$1 [L]
RewriteRule ^js/(.*)$ /web/js/$1 [L]
RewriteRule ^images/(.*)$ /web/images/$1 [L]
RewriteRule (.*) /web/$1
RewriteCond %{REQUEST_URI} !robots.txt

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /web/index.php

SetEnvIf Authorization .+ HTTP_AUTHORIZATION=$0
#bots
#Бот. Попытка скачать архив БД с сайта
deny from 194.110.203.38
deny from 194.110.203.44
#Бот. Попытка пройти по WP ссылкам
deny from 18.182.22.187
deny from 5.188.86.198
deny from 165.232.36.33
deny from 142.93.150.251
